.menu-bar{
    width: 100%;
    height: 40px;
    background: black;
    display: inline-block;
}
.menu-bar section{
    display: inline-block;
    float: left;
    width: 50%;
    height: 100%;
}
#usermenu{
    text-align: right;
}

.menu-bar button{
    border: none;
    width: 200px;
    height: 100%;
    background-color:rgba(0, 0, 0, 0);
    color: white;
    font-size: 20px;
    font-weight: 600;
}
.menu-bar button:hover{
    cursor: pointer;
}